<div layout="column" layout-fill>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Settings" ng-click="openSideNav('left');">
	          <i class="material-icons">menu</i>
	        </md-button>
			<h2>PKMTCG</h2>
			<span flex></span>
			<md-button ng-if="!Users.getSession()" ui-sref="login">
				Login
			</md-button>
			<md-button ng-if="Users.getSession()" ng-click="Users.logout();">
				Logout
			</md-button>
			<md-button class="md-icon-button" aria-label="Settings" ng-click="openSideNav('right');">
	          <i class="material-icons">view_module</i>
	        </md-button>
		</div>
	</md-toolbar>
	<ui-view flex layout="column"></ui-view>
</div>

<md-sidenav class="md-sidenav-left"
    md-component-id="left"
    md-disable-backdrop
    md-whiteframe="4">
	<!-- md-is-locked-open="$mdMedia('gt-md')" -->
	<md-toolbar class="md-theme-indigo" layout="row" layout-align="space-between center">
	    <h1 class="md-toolbar-tools">Main Menu</h1>
		<md-button class="md-icon-button" ng-click="closeSideNav('left')">
			<i class="material-icons">close</i>
		</md-button>
	</md-toolbar>
	<md-content layout-padding>
		<deck-loader></deck-loader>
	    <!--<card-form></card-form>-->
		<!--<card-filter></card-filter>-->
	</md-content>
</md-sidenav>

<md-sidenav class="md-sidenav-right"
    md-component-id="right"
    md-disable-backdrop
    md-whiteframe="4">
	<!-- md-is-locked-open="$mdMedia('gt-md')" -->
	<md-toolbar class="md-theme-indigo" layout="row" layout-align="space-between center">
	    <h1 class="md-toolbar-tools">Pokemon Decks</h1>
		<md-button class="md-icon-button" ng-click="closeSideNav('right')">
			<i class="material-icons">close</i>
		</md-button>
	</md-toolbar>
	<md-content layout-padding>
		<pokemon-decks-side></pokemon-decks-side>
	</md-content>
</md-sidenav>
