<div layout="column" ng-init="panelState = false;">
	<md-button ng-click="Decks.getDeck(-1)">
		<div layout="row" layout-align="space-between center">
			<span>New Deck</span>
			<i class="material-icons">add</i>
		</div>
	</md-button>

	<md-button ng-click="panelState = !panelState;" >
		<div layout="row" layout-align="space-between center">
			<span>Load Decks</span>
			<i ng-if="!panelState" class="material-icons">keyboard_arrow_down</i>
			<i ng-if="panelState" class="material-icons">keyboard_arrow_up</i>
		</div>
	</md-button>

	<div ng-if="panelState">
		<h5>Your decks</h5>
		<div layout>
			<md-input-container flex="100">
				<label>Browse All</label>
				<md-select ng-model="deck">
					<md-option
						ng-repeat="deck in userDecks track by deck.id"
						ng-value="deck.id"
						ng-click="Decks.addDeck(deck.id);">
						{{deck.name}}
					</md-option>
				</md-select>
			</md-input-container>
		</div>
		<h5>Search decks</h5>
		<div layout>
			<md-autocomplete
				flex
				md-items="deck in decks"
				md-item-text="deck.name"
				md-selected-item-change="Decks.addDeck(deck.id)"
				md-floating-label="Search">
				<md-item-template>
					<span >{{deck.name}}</span>
				</md-item-template>
			</md-autocomplete>
		</div>
	</div>
</div>
