<div layout="column" ng-init="panelState = false;">
	<md-button ng-click="Decks.getDeck()">
		<div layout="row" layout-align="space-between center">
			<span>New Deck</span>
			<i class="material-icons">add</i>
		</div>
	</md-button>

	<md-button ng-click="panelState = !panelState;" >
		<div layout="row" layout-align="space-between center">
			<span>Load Decks</span>
			<i ng-if="!panelState" class="material-icons">keyboard_arrow_down</i>
			<i ng-if="panelState" class="material-icons">keyboard_arrow_up</i>
		</div>
	</md-button>

	<div ng-if="panelState">
		<div layout>
			<md-input-container flex="100">
				<label>Search By Name</label>
				<md-autocomplete md-items="deck in decks">
					<md-item-template>
						<span ng-click="Decks.addDeck(deck.id)">{{deck.name}}</span>
					</md-item-template>
				</md-autocomplete>
			</md-input-container>
		</div>
		<div layout>
			<md-input-container flex="100">
				<label>Browse All</label>
				<md-select ng-model="deck">
					<md-option
						ng-repeat="deck in decks track by deck.id"
						ng-value="deck.id"
						ng-click="Decks.addDeck(deck.id);">
						{{deck.name}}
					</md-option>
				</md-select>
			</md-input-container>
		</div>
	</div>
</div>
