<form name="cardForm" novalidate ng-init="panel1State = false;">
    <!--class="side"-->
    <h3 ng-click="panel1State = !panel1State;">
        Add a Card
        <i ng-hide="panel1State" class="fa fa-chevron-down"></i>
        <i ng-show="panel1State" class="fa fa-chevron-up"></i>
    </h3>

    <div  ng-show="panel1State" ng-init="valid = false; showAttack2 = false; showAttack3 = false; card = {};">

        <div id="base">
            <label>
                Card Name:
                <autocomplete on-select="nameChange" ng-model="card.name" data="cardNamesService.info"></autocomplete>
            </label>

            <label>
                Pokemon Image <i class="fa fa-file-image-o"></i>:
                <input type="file" accept=".png,.jpg" onchange="angular.element(this).scope().setImage(this);" >
            </label>

               <button class="button" ng-show="trainerCard" ng-click="pokemonCard = false; trainerCard = false;">Back</button><!--
            --><button class="button" ng-hide="trainerCard" ng-click="trainerCard = true; pokemonCard = false;">Trainer</button><!--

            --><button class="button" ng-show="pokemonCard" ng-click="pokemonCard = false; trainerCard = false;">Back</button><!--
            --><button class="button" ng-hide="pokemonCard" ng-click="pokemonCard = true; trainerCard = false;">Pokemon</button><!--
            -->
        </div>

        <div class="pokemonCard" ng-show="pokemonCard" >
            <label>
                Pokemon Health:
                <input type="number" ng-model="card.health">
            </label>

            <!--ABILITY NAME -->

            <ability-Form ng-model="card.ability"></ability-Form>

            <!-- ATTACK NAME  1 -->

            <attack-Form ng-model="card.attack1">1</attack-Form>

            <attack-Form ng-model="card.attack2" ng-show="showAttack2">2</attack-Form>

            <attack-Form ng-model="card.attack3" ng-show="showAttack3">3</attack-Form>

        </div>

        <div class="trainerCard" ng-show="trainerCard" >
            <label>
                Trainer Property:
                <select ng-model="card.property" ng-options="prop.name for prop in cardPropertiesService.data track by prop.id"></select>
            </label>
            <label>
                <input name="supporter" type="checkbox" style="display:inline !important;" ng-model="card.supporter" value="true">Is A Supporter
            </label>
        </div>

        <button class="button" ng-show="valid" ng-enabled="valid" ng-click="">Upload</button>

    </div>



</form>
