<md-list-item ng-click="goToCardView()" layout="row" layout-align="start center">

  <span>{{card.name}}</span>
  &nbsp;
  <span ng-if="deck || deck === 0">x{{Decks.getDeck(deck).quantityOfCard(id)}}</span>

  <span flex></span>

  <md-button aria-label="" class="md-fab md-raised md-mini" ng-click="Decks.getDeck(deck).addCard(card.id, 1); $event.stopPropagation()">
    <md-tooltip md-direction="left">Add to current deck</md-tooltip>
    <md-icon>add</md-icon>
  </md-button>

  <md-button ng-if="deck || deck === 0" aria-label="" class="md-fab md-raised md-mini" ng-click="Decks.getDeck(deck).removeCard(card.id); $event.stopPropagation()">
    <md-tooltip md-direction="left">Decrement the card from the current deck</md-tooltip>
    <md-icon>remove</md-icon>
  </md-button>

  <!--<md-button ng-if="deck || deck === 0" aria-label="" class="md-fab md-raised md-mini" ng-click="Decks.getDeck(deck).deleteCard(card.id); $event.stopPropagation()">
    <md-tooltip md-direction="left">Delete card from current deck</md-tooltip>
    <md-icon>clear</md-icon>
  </md-button>-->

</md-list-item>
