<form name="abilityForm">
    <h5>Ability <span ng-transclude></span>:</h5>
    <md-autocomplete 
      flex 
      md-items="ability in abilities" 
      md-item-text="ability.name" 
      md-floating-label="Ability name" 
      md-selected-item-change="selectEntry(name)" 
      md-search-text-change="textEntry(name)" 
      md-search-text="name">
        <md-item-template>
            <span>{{ability.name}}</span>
        </md-item-template>
    </md-autocomplete>

    <div ng-show="newAbility" layout="column">
        <md-input-container>
            <label>Ability Trigger:</label>
            <md-select ng-model="trigger" name="trigger">
                <md-option ng-repeat="trigger in cardTriggers" value="{{trigger.id}}">{{trigger.name}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <label>Ability Property:</label>
            <md-select ng-model="property" name="property">
                <md-option ng-repeat="prop in cardProperties" value="{{prop.id}}">{{prop.name}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <md-button type="button" ng-click="createAbility()">
      Create New Attack
    </md-button>
</form>